#mhead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 8px red;
    color: bisque;
}
.container {
    max-width: 90%;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
p {
    font-size: 18px;
    color: #333;
}

body{
    background-color: #000000;
}
.image-container {
    margin-top: 20px;
}
.image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
ul {
    text-align: left;
    display: inline-block;
}
h3{
    text-shadow: 0px 0px 7px #fc1818;
    font-weight: bold;
    font-size: 23px;
    
 }
 h1::first-letter{
    font-weight: 800;
    color: #fff01c;
    font-size: 30px;
 }

 #spcl{
    color: #e76b05;
    font-weight: bold;
    font-size: 20px;
  }