body {
    background-color: #000;
    /* overflow: hidden; */
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.navbar {
    background-color: cadetblue;
}
.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: fill;
    border: 3px solid #00ffd5;
    box-shadow: 0px 0px 29px #3cff00;
    animation: moveBorder 2s linear infinite, glow 1.5s linear infinite;
}

.profile-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.card {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
    box-shadow: 0px 0px 12px #00fff2;
}
.card:hover {
    border-color: #0dfd41;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.social-icons a {
    color: #0d6efd;
    font-size: 1.5rem;
    margin-right: 15px;
}
footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
#heading {
   text-shadow: 0px 0px 7px #fc1818;
   font-weight: bold;
   
}
#heading::first-letter{
  color: tomato;
  font-weight: bold;
  font-size: 50px;
}
#abt{
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 8px #3cff00;
    font-weight: bold;
    border-bottom: 1px solid #3cff00;
    border-radius: 10px;
    
}
#skls{
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 8px #3cff00;
    font-weight: bold;
    border-bottom: 1px solid #3cff00;
    border-radius: 10px;
}
#prjts{
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 8px #3cff00;
    font-weight: bold;
    border-bottom: 1px solid #3cff00;
    border-radius: 10px;
}

.comet {
    position: fixed;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgb(0, 255, 242), rgba(255, 255, 255, 0.2));
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    opacity: 0; /* Initially hidden */
    animation: moveComet 5s linear infinite, fadeIn 0.1s linear forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes glow {
    0% { box-shadow: 0 0 30px rgb(251, 255, 0);; }
    25% { box-shadow: 0 0 35px #0ff; }
    50%{ box-shadow:  0 0 30px #ff00ea; }
    75% { box-shadow: 0 0 35px #ff7300; }
    100% { box-shadow: 0 0 30px #c8ff00; }
  }

  @keyframes moveBorder {
    0% {
      border-color: rgb(251, 255, 0);
    }
    25% {
      border-color: #00ffbf;
    }
    50% {
      border-color: #ff00ea;
    }
    75% {
      border-color: #ff7300;
    }
    100% {
      border-color: #c8ff00;
    }
  }
  
  @keyframes moveComet {
    0% {
      transform: translate(-10%, -10%) scale(0.5);
      opacity: 1;
    }
    100% {
      transform: translate(110vw, 110vh) scale(1.5);
      opacity: 0;
    }
  }

  #cntct{
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 8px #3cff00;
    font-weight: bold;
    border-bottom: 1px solid #3cff00;
    border-radius: 10px;
    border-top: 1px solid #0dfd41;

  }

.types{
  font-weight: bold;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #00ffd5;
  text-shadow: 0px 0px 8px rgb(255, 232, 25);
}
div>ul{
  list-style: disc;
}
#aboutp::first-letter{
  color: #fbff00;
  font-weight: bold;
  font-size: 20px;
}
#spcl{
  color: #fbff00;
  font-weight: bold;
  font-size: 20px;
}
#spclj{
  color: #00ff4c;
  font-weight: bold;
  font-size: 20px;
}
#spcld{
  color: #ffa600;
  font-weight: bold;
  font-size: 20px;
}
#spclw{
  color: #00fff2;
  font-weight: bold;
  font-size: 20px;
}
h5{
  color: #ff7300;
  font-weight: bold;
}

#adiv{
  text-decoration: none;
  background-color: #000;

}

img{
  box-shadow: 0px 0px 8px cyan;
  border-radius: 10px;
}

@keyframes glowEffect {
  0% { box-shadow: 0 0 30px #0ff; }
  30% { box-shadow: 0 0 15px #0ff; }
  60%{ box-shadow:  0 0 10px #0ff; }
  100% { box-shadow: 0 0 35px #0ff; }
}

.animated-border {
  border: 2px solid #0ff;
  animation: glowEffect 1.6s infinite alternate;
}

.iframe-glow {
  /* border: 2px solid #0ff; */
  background-color: black;
  border-radius: 10px;
  /* animation: glowEffect 1.5s infinite alternate; */
}

.typing {
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 35px;
  margin: auto;
  text-shadow: 0px 0px 8px #ff0022;
  font-family: 'Times New Roman', Times, serif;
}
.typing-container {
  display: inline-flex;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
}

.cursor {
  display: inline-block;
  width: 5px;
  height: 20px;
  background-color: rgb(255, 8, 0);
  text-shadow: 0px 0px 8px #fbff00;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  50% { opacity: 0; }
}
#ttl{
  color: rgb(232, 253, 46);
  font-weight: bold;
  font-size: 25px;

}